.App {
  text-align: center;
}

.App-logo {
  height: 13vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #61dafb;
  display: grid;
}

ul {
  list-style: devanagari outside none;
  border: 2 px solid skyblue;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

li {
  margin: 10px;
  padding: 0px 5px;
  border: 2em solid;
  --angle: 0deg;
  border-image: linear-gradient(var(--angle),lightslategray, #61dafb) 33;
  
  font-family: monospace;
  animation:5s rotate linear infinite;
}

@keyframes rotate {
  to{
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}